{% extends "base.html" %}

{%block content%}
<br>
<h1>My python projects</h1>
<br>
<h3>SpellChecker</h3>
<br>
<p>Checks your english grammar, corrects it and recommends better alternatives.</p>
<a href="spellChecker">check your grammar</a>
<br><br>
<h3>MonsterMash</h3>
<br>
<p>My pyGame project</p>
<a href="/monsterMash">Take a look!</a>

<br><br>
<br><br>
<h3>Check my source code for this whole page on my github:</h3>
<p><a href="https://github.com/LucasKohanevicRadice/PythonWebProjects">my FlaskApp</a></p> 
<br>
<h3>Back to my CV website:</h5>
<p><a href="https://fullstacklucas.herokuapp.com/">FullStackLucas</a></p> 
{%endblock%}